
.idea/libraries/Ludii_1_3_12.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
algoGen/.DS_Store
algoGen/.idea/encodings.xml
algoGen/.idea/misc.xml
algoGen/.idea/modules.xml
algoGen/.idea/vcs.xml
algoGen/algoGen.iml
algoGen/out/production/.DS_Store
algoGen/out/production/algoGen/parcours/ParcoursGenetique.zip
algoGen/src/.DS_Store
*.xml
*.class
*.iml
out/production/IntelligenceArtificielleJava/out/production/astar/taquin/readme.md
out/production/IntelligenceArtificielleJava/out/production/MCTS/OXO/MCTSNodeTTT_structure.puml
out/production/IntelligenceArtificielleJava/out/production/MCTS/readme.md
out/production/IntelligenceArtificielleJava/OXO/MCTSNodeTTT_structure.puml
out/production/IntelligenceArtificielleJava/readme.md
out/production/IntelligenceArtificielleJava/src/taquin/readme.md
